<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Song List</title>
</head>
<body>
<p>
  <a th:href="@{/songs/create}">
    Add new song
  </a>
</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Genre</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="song : ${songs}">
      <td th:text="${song.name}"></td>
      <td th:text="${song.artist}"></td>
      <td th:text="${song.genre}"></td>
      <td th:text="${song.file}"></td>
    </tr>
  </tbody>
</table>
</body>
</html>